
h1 {
    font-family: sans-serif;
    color: #00214d;
}

h2 {
    font-family: sans-serif;
    color: #00214d;
}

body {
    background: url(brooke-lark-wMzx2nBdeng-unsplash.jpg) no-repeat center center;
    background-size: cover;
  }


