<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Recipe Web App</title>
  </head>
  <body>
    <h1>Add a Recipe</h1>

    <form action="/add_recipe" id="recipes-form" method="POST">
        <label>Recipe Title: </label>
        <input type="text" id="recipe_name" name="recipe_name">
        <br>
        <br>
        <label>Prep Time: </label>
        <input type="text" id="prep_time" name="prep_time">
        <label>Cook Time: </label>
        <input type="text" id="cook_time" name="cook_time">
        <br>
        <label>Number of Servings: </label>
        <input type="text" id="num_servings" name="num_servings">
        <br>
        <br>
        <label>Ingredients:</label><br>
        <textarea id="ingredients" name="ingredients" placeholder="List each item on a seperate line."></textarea>
        <br>
        <br>
        <br>
        <label>Directions:</label><br>
        <textarea id="directions" name="directions" placeholder="List each step on a seperate line."></textarea>
        <br>
        <br>
        <br>
        <div>
        <button type="submit" value="submit">Create Recipe</button>
        </div>
      </form>

      <script src="/static/js/recipes.js"></script>
  </body>
</html>