{% extends "base.html" %}

{% block body %}
<div class="container boxed" id="signup">
  <h3>Create an Account</h3>

  <!-- <form method="POST">
    <p>
      Email: <input type="text" name="email">
    </p>

    <p>
      Password: <input type="password" name="password">
    </p>
    <p>
        First name: <input type="text" name="fname">
      </p>
      <p>
        Last name: <input type="text" name="lname">
      </p>

    <p>
      <input type="submit" class="btn btn-outline-primary">
    </p>
  </form> -->



<form method="POST">
  <div class="form-row col-12">
    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
  </div>
  <div class="form-row col-12">
    <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password">
  </div>
  <div class="form-row">
    <div class="col-5">
      <input type="text" class="form-control" id="fname" placeholder="First Name" name="fname">
    </div>
    <div class="col-5"> 
      <input type="text" class="form-control" id="fname" placeholder="Last Name" name="lname">
    </div>
  
    <div class="col-2">
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
      <input type="submit" class="btn btn-outline-primary" id="signup-btn">
    </div>
  </div>
</form>

</div>
{% endblock %}
